.container-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
  align-items: center;

}

.booking-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.current-pets {
  padding-left: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 3px 3px #888888;
  background-color: rgb(234, 246, 234);
  background-size: contain;
}

.current-booking {
  padding-left: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 3px 3px #888888;
  background-color: rgb(234, 246, 234);
  background-size: contain;
}
