.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  h1 {
    padding-top: 16px;
  }
}


.container-new-pet {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F9F9F9;

}
.container-new-pet input[type="text"],
.container-new-pet input[type="file"],
.container-new-pet input[type="submit"],
.container-new-pet input[type="checkbox"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container-new-pet input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}
.container-new-pet input[type="submit"]:hover {
  background-color: #0056B3;
}
.container-new-pet label {
  font-weight: bold;
  margin-bottom: 5px;
}
.container-new-pet input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.container-log-in {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F9F9F9;
}

.container-log-in h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container-log-in .form-inputs {
  margin-bottom: 20px;
}

.container-log-in input[type="email"],
.container-log-in input[type="password"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-log-in input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container-log-in input[type="submit"]:hover {
  background-color: #0056B3;
}

.container-log-in .form-actions {
  text-align: center;
}

.container-log-in .links {
  text-align: center;
  margin-top: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: 4px;
  font-weight: bold;
}

.navbar {
  background-image: url("https://mcdn.wallpapersafari.com/medium/32/78/dTuctf.jpg");
  background-size: cover;
  background-position: center;
}
