.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  h1 {
    padding-top: 16px;
  }
}


.container-new-pet {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.container-new-pet input[type="text"],
.container-new-pet input[type="file"],
.container-new-pet input[type="submit"],
.container-new-pet input[type="checkbox"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container-new-pet input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.container-new-pet input[type="submit"]:hover {
  background-color: #0056b3;
}
.container-new-pet label {
  font-weight: bold;
  margin-bottom: 5px;
}
.container-new-pet input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.container-log-in {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.container-log-in h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container-log-in .form-inputs {
  margin-bottom: 20px;
}

.container-log-in input[type="email"],
.container-log-in input[type="password"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-log-in input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1edd88;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container-log-in input[type="submit"]:hover {
  background-color: #40e29a;
}

.container-log-in .form-actions {
  text-align: center;
}

.container-log-in .links {
  text-align: center;
  margin-top: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: 4px;
  font-weight: bold;
}

.navbar {
  background-image: url("https://mcdn.wallpapersafari.com/medium/32/78/dTuctf.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .pet-name {
    flex: 1;
    margin-right: 20px;

    h1 {
      font-size: 30px;
      color: #333;
      font-weight: 600;
    }
  }

  .edit {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-left: 10px;
      color: #999;
      text-decoration: none;

      &:hover {
        color: #333;
      }
    }
  }

  .pet-owner {
    position: relative;
    display: flex;
    align-items: flex-start;

    h2 {
      margin-right: 6px;
      font-size: 18px;
      color: #333;
      font-weight: 600;
    }

    i {
      font-size: 14px;
      margin-right: 10px;
      color: #131212;
      align-self: flex-start;
    }
  }
  .owner-address {
    display: flex;
    align-items: center;

    p {
      margin-right: 5px;
      font-size: 14px;
      color: #777;
      font-weight: 600;
    }

    i {
      font-size: 14px;
      margin-right: 10px;
      color: #131212;
      align-self: flex-start;
    }
  }

  form {
    flex: 1;
    margin-top: 15px;

    input[type="date"] {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    input[type="submit"] {
      margin-top: 6px;
      padding: 8px 15px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #555;
      }
    }
  }
}

.map {
  justify-self: end;
}

.container-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 20px;

  .pet-image {
    flex: 1;
  }
}
