<li class="py-2">
  <strong><%= pet_review.user.first_name %>:  </strong><%= pet_review.content %>
  <% pet_review.rating.times do %>
    <i class="fa-solid fa-star" style="color: #009500;"></i>
  <% end %>
</li>
