<ul>
  <% @pets.each do |pet| %>
    <li>
      <%= link_to pet.name, pet_path(pet)  %>
      <% if pet.available %>
        <i class="fa-solid fa-check"></i>
      <% else %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<H2>Your current booking</H2>
<% current_user.bookings.each do |booking| %>
<li><%= booking.pet.name %></li>
<% end %>
