<div class="container">
  <div class="current-pets">
    <h2 class="booking-text"><%= @user.first_name %>'s current pets</h2>
     <% @pets.each do |pet| %>
        <ul class="list-unstyled text-decoration-none">
          <li>
            <div class="cards">
              <div class="card-product">
                <%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill %>
                <div class="card-product-infos">
                  <h2>Name <%= link_to pet.name, pet_path(pet), class:"text-decoration-none" %></h2>
                  <p>Age <%= pet.age %></p>
                  <% if pet.available %>
                    <i class="fa-solid fa-check"></i>
                  <% else %>
                    <i class="fa-solid fa-xmark"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      <% end %>
  </div>
</div>
