<div class="home">
  <% if user_signed_in? %>
    <h3>Hi <%= current_user.first_name.capitalize%>!</h3>
  <% end %>
  <h1>All Pets</h1>
  <div class="cards">
    <% @pets.each do |pet| %>
    <div class="card-category  d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pet.photo.key, height: 300, crop: :fill %>')">
      <%= link_to pet.name.upcase, pet_path(pet) %>
      <span> Age: <%= pet.age %></span>
    </div>
    <% end %>
  </div>
</div>
